.MusicianProfile {
	color: #fff;
	&Header {
		padding: 60px;
		border: 1px solid #fff;
		background-image: url('../../../assets/background.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		border-radius: 10px;
		min-height: 250px;
		position: relative;
		width: 100%;
	}
	span {
		position: absolute;
		bottom: -3em;
		right: 10%;
	}
	h3 {
		margin-top: 1em;
	}
}
