.SocialLinks {
	margin-top: 1em;
	align-items: center;
	position: relative;
	overflow-x: auto;
	overflow-y: hidden;
	width: 100%;
	> ul {
		display: flex;
		> li {
			display: flex;
			line-height: 1em;
			margin-right: 0.5em;
			align-items: flex-end;
		}
	}
}
